main {
  height: 100%;
  width: 100%;
}
div {
  height: calc(100vh - calc(25vh + 60px));
  overflow: auto;
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  div {
    height: 100%;
    overflow: auto;
  }
}
