main {
  height: 100%;
  width: 100%;
}

div {
  height: calc(100vh - calc(15vh + 50px));
  overflow: auto;
  width: 100%;
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #page-content {
    height: 100vh;
    overflow: auto;
  }
}
