<p-accordion value="0" [multiple]="true" class="accordion">
  @for (category of categoryList; track $index) {
    <p-accordion-panel [value]="category">
      <p-accordion-header [class]="'panel-category-' + activePage()">
        {{ category }}
      </p-accordion-header>
      <p-accordion-content>
        <p-table [value]="products()">
          <ng-template #body let-product of products>
            @if (product.category === category) {
              <tr class="tr-list">
                <td class="td-small-item">
                  <p-checkbox
                    [(ngModel)]="product.isCheck"
                    (ngModelChange)="onProductCheck(product)"
                    [binary]="true"
                  />
                </td>
                <td class="td-designation">{{ product.name }}</td>
                <p-toast
                  position="top-center"
                  [breakpoints]="{
                    '920px': { width: '90%' },
                  }"
                />
                @if (activePage() !== "favorit") {
                  <td class="btn-change-stock">
                    <p-inputnumber
                      class="button-container"
                      [(ngModel)]="product.quantity"
                      [showButtons]="true"
                      buttonLayout="horizontal"
                      spinnerMode="horizontal"
                      inputId="horizontal"
                      [inputStyle]="{ width: '2rem' }"
                      (ngModelChange)="updateStockQuantity(product)"
                    >
                      <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                      </ng-template>
                    </p-inputnumber>
                  </td>
                  <td class="td-small-item">{{ product.unit }}</td>
                }
                <td class="td-small-item">
                  <button
                    (click)="toggleFavorite(product.productId)"
                    class="btn-favorit"
                  >
                    @if (product.favorite) {
                      <i class="pi pi-heart-fill"></i>
                    } @else {
                      <i class="pi pi-heart"></i>
                    }
                  </button>
                </td>
              </tr>
            }
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
