<nav id="navbare">

  <div class="navbare-logo">
    <img src="/imgs/logo.png" alt="Logo" />
    <span class="logo-text">Stock'O Frig'O</span>
  </div>

  <li class="navbare_link">
    <button
      class="navbare_button"
      [ngClass]="{ active: isRouteActive === '/' }"
      (click)="goToPage('/')"
    >
      <i class="pi pi-home" style="color: black"></i>
      <h3>Accueil</h3>
    </button>
  </li>
  <li class="navbare_link">
    <button
      class="navbare_button"
      [ngClass]="{ active: isRouteActive === '/favorites' }"
      (click)="goToPage('/favorites')"
    >
      <i class="pi pi-heart-fill"></i>
      <h3>Favoris</h3>
    </button>
  </li>
  <li class="navbare_link">
    <button
      class="navbare_button active"
      [ngClass]="{ active: isRouteActive === '/scan' }"
      (click)="goToPage('/scan')"
    >
      <i class="pi pi-barcode"></i>
      <h3>Scan</h3>
    </button>
  </li>
  <li class="navbare_link">
    <button
      class="navbare_button"
      [ngClass]="{
        active:
          isRouteActive === '/cart-list' || isRouteActive.startsWith('/cart'),
      }"
      (click)="goToPage('/cart-list')"
    >
      <i class="pi pi-cart-arrow-down"></i>
      <h3>Liste de course</h3>
    </button>
  </li>
  <li class="navbare_link">
    <button
      class="navbare_button"
      [ngClass]="{ active: isRouteActive === '/stock' }"
      (click)="goToPage('/stock')"
    >
      <i class="pi pi-list-check"></i>
      <h3>Stock</h3>
    </button>
  </li>

  <div class="navbare-user">
    <li class="navbare_link">
      <button class="navbare_button"
      [ngClass]="{ active: isRouteActive === '/profile' }"
       (click)="goToPage('/profile')">
        <i class="pi pi-user"></i>
        <h3>Profil</h3>
      </button>
    </li>
    <li class="navbare_link">
      <button 
      class="navbare_button" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <h3>Déconnexion</h3>
      </button>
    </li>
  </div>
</nav>
