.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  h2 {
    margin-bottom: 2%;
    font-size: 2.4rem;
    font-weight: 400;
  }

  form {
    max-width: 500px;
    width: 100%;
  }
}
.fieldset,
.p-password {
  width: 100%;
  margin: 6px 0;
}

.input-full-width {
  width: 100%;
  display: block;
}

.p-button {
  width: 100%;
  margin-top: 30px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-family: "Road Rage", sans-serif;
    font-weight: 100;
    font-size: 5.8rem;
    line-height: 60px;
    text-align: center;
    margin-right: 15px;
  }

  img {
    height: 140px;
    filter: drop-shadow(0 3px 3px rgb(165, 190, 145));
  }
}

app-login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
