/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";

* {
  font-family: "Inclusive Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titre-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

#page-content {
  padding: 15px;
}

@media screen and (min-width: 800px) {
  // .titre-pages {
  //   position: absolute;
  //   top: calc(10% + 0px);
  //   left: 50%;
  //   transform: translateX(-50%);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 4rem;
  // }

  // .component-content {
  //   padding: 20px;
  // }

  // .logo {
  //   position: absolute;
  //   top: 25%;
  //   left: 50%;
  //   transform: translate(-50%, -80%);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: auto;
  //   width: auto;
  //   max-width: 90%;
  //   max-height: 80vh;
  // }

  #page-content {
    padding: 15px;
  }
}
