/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";

* {
  font-family: "Inclusive Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {

  main > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  
  .card, .component-box {
    width: 300px;
    margin: 10px;
    font-size: 1rem;
  }

  h1, h2, h3 {
    font-size: calc(1.2 * var(--mobile-font-size));
  }

  .component-content {
    padding: 20px;
  }

  .logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;       /* zamiast 100vh */
    width: auto;        /* zamiast 100vw */
    max-width: 90%;     /* dopasowanie do szerokości ekranu */
    max-height: 80vh;   /* dopasowanie do wysokości ekranu */
  }
  
  .page-content {
    position: absolute;
    top: calc(10% + 200px); /* 10% od góry + wysokość logo */
    left: 50%;
    transform: translateX(-50%); /* tylko poziome centrowanie */
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    max-width: 1200px;
  }
  
}
