header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.header-move-to {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-family: "Road Rage", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  line-height: 60px;
  text-align: center;
  margin-right: 15px;
}

img {
  height: 50px;
}
